body{
background:  url('../img/greydegrade.jpeg') no-repeat;
background-size :cover;
}
.fa-home{
  color:#fff;
}

.fa-shopping-basket{
  color:#fff;
}
.fa-sign-in-alt{
    color:#fff;
}
.fa-check-circle{
    color:#fff;
}
  #logo{
    height: 45px;
    width: 800px;
  }
.carous{
  width: 70%;
  padding: 30px;
}
footer{
  margin: 45%;
}
  @media screen and (max-width: 480px){
    #logo{
      height: 65px;
      width: 150px;
    }
    footer{
      margin: 35%;
    }
  }
#titre{
  font-family: 'Indie Flower', cursive;
  padding: 10px;
  text-align: center;
}
#sousTitre{
  font-family: 'Indie Flower', cursive;
padding: 5px;
  text-align: center
}
/* Styles for Large Modal
   Removes slide-up animation */
.modal-dialog.modal-lg {
  -webkit-transform: translate(0,0) !important;
  -ms-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}

/* Styles for Small Modal
   Changes slide-up animation to slide-down */
.modal-dialog.modal-sm {
  -webkit-transform: translate(0,25%) !important;
  -ms-transform: translate(0,25%) !important;
  transform: translate(0,25%) !important;
}
.modal.in > .modal-dialog.modal-sm {
  -webkit-transform: translate(0,0) !important;
  -ms-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
